include ./_mixins

section.section-comments.py-5
	header.section-comments-header
		+titleInside("Bình luận")
	.section-comments-body
		ul
			li: +comment("images/ava-1.jpg", "Nguyễn Thanh Bình", "Nếu mà hiệu quả như vậy thật thì giá sản phẩm cũng không quá đắt.", "14 phút trước | Trả lời")
			li: +comment("images/ava-2.jpg", "Quốc Phong", "Mình vừa đặt hàng rồi đó, các bạn kiểm tra lại thông tin và giao hàng giúp mình luôn nhé. Cảm ơn!", "34 phút trước | Trả lời")
			li: +comment("images/ava-3.jpg", "Công Thắng", "May mà đọc được bài này, để mình bảo mẹ mình tham khảo.", "45 phút trước | Trả lời")
			li: +comment("images/ava-4.jpg", "Tâm Nguyễn", "Ship mình luôn 5 hộp về Eco Green Nguyễn Xiển với. Điện thoại 0938279066 (Tâm)", "56 phút trước | Trả lời")