include ./_mixins
section.section-content
	header.section-content-header
		+titleSection("ĐAU DẠ DÀY VÀ HÀNH TRÌNH 10 NĂM CHỮA TRỊ")
		p.text-caption Đăng ngày 19/03/2018, 7:51 | Tác giả: Yến Nguyễn
	.section-content-body
		p "Bệnh của làng" đó là tên gọi khác của căn 
			+link("bệnh đau dạ dày") 
			|  mà có lẽ như nó không trừ một ai thì phải, bản thân tôi và những người xung quanh tôi, gia đình, bạn bè, đồng nghiệp…thì hầu như 10 người có đến 7 người mắc căn bệnh này. Đặc biệt mỗi lần vào bệnh viện, thực sự mình choáng với số người nội soi. Càng lên mạng, facebook thì càng thấy 
			+link("sự ghê gớm của căn bệnh này")
			| .

		p Tôi là Quang Minh năm nay 40 tuổi, hiện đang ở quận Hà Đông, Hà Nội và đang là dân văn phòng .Bản thân tôi đã đánh vật với 
			+link("đau dạ dày 10 năm") 
			| và đã trở thành mãn tính. Nào đâu cũng dùng đủ các loại thuốc từ Tây y, Đông y rồi còn chữa trị theo pháp đồ của bác sĩ tôi cũng đã làm nhưng nó không thể dứt điểm được căn bệnh quái ác đó. Công việc và cuộc sống của tôi đều bị ảnh hưởng và 
			+link("càng lúc càng tệ đi") 
			| rất nhiều. Cuộc hành trình đi chữa bệnh đau dạ dày 10 năm thật sự là cả một quãng thời gian dài, vất vả và đau đớn.

		p: +image("images/img1.jpg")

		p Vì công việc của tôi bận rộn, ăn uống không điều độ, bia rượu để tiếp khách hàng, bạn bè , đôi lúc công việc khiến tôi bị stress dẫn đến tôi bị đau dạ dày lúc nào không hay.Vì bận quá cũng không mấy khi để ý đến sức khỏe. Đợt đó, tôi thường xuyên bị đau râm ran vùng bụng, chán ăn, có ăn thì cũng một chút là thấy no, lại còn hay bị ợ hơi, ợ nóng và buồn nôn. Thấy tình trạng sức khỏe ngày càng sa sút, tôi đã xin nghỉ làm một ngày đến bệnh viện khám, lúc nhận kết quả từ bác sĩ tôi không khỏi giật mình, bác sĩ kết luận tôi bị viêm loét dạ dày và đã có vi khuẩn HP. Thật sự khi nhận được kết quả, tôi không khỏi bàng hoàng, không ngờ tình trạng bệnh của mình đã nặng như vậy.

		p Sau khi khám về, tôi hàng ngày 
			+link("đều uống thuốc bác sỹ kê đơn") 
			|  và thực hiện theo chỉ dẫn lời khuyên của bác sỹ, tôi chú ý đến ăn uống hơn. Sau thời gian đấy, tình trạng của tôi đã cải thiện đáng kể, không còn xuất hiện những triệu chứng kia nữa. Nghĩ đã khỏi nên khi uống hết đợt thuốc ấy tôi cũng không đi khám lại. Đợt điều trị ấy, tôi cứ nghĩ là đã khỏi hẳn, vì thấy tình trạng cũng đã cải thiện lên. Nhưng rồi chỉ sau đó 1 tháng, các triệu chứng lại xuất hiện lại mà lần này lại còn nặng hơn. Một lần nữa tôi lại phải nghỉ làm để đến bệnh viện khám lại và nhận được kết quả của tôi vẫn còn vi khuẩn HP. Lần này tôi phải nhận phác họa điều trị mới của bác sĩ.

		p: +image("images/img2.jpg", "Vi khuẩn HP")

		p Dù được điều trị theo phác đồ mới nhưng rồi tình trạng bệnh 
			+link("vẫn không giảm")
			| , thời gian đó vì thế mà sức khỏe của tôi ngày càng sa sút, ăn không ngon ngủ không ngon. Người vì thế mà sút cân nhanh chóng từ 65kg xuống chỉ còn 55kg. Thời gian cứ thế trôi qua, 10 năm qua, tôi vẫn luôn lên mạng tìm hiểu và được nhiều người mách các cách chữa bệnh theo phương pháp dân gian, rồi đến các loại thuốc đông y, nam bắc đủ cả, rồi thầy thuốc này thầy thuốc kia ở đâu tôi cũng đi hết. Nhưng tình trạng chỉ cải thiện được lúc đó, sau thì đâu lại vào đấy. Khiến tôi thật sự tuyệt vọng ngày càng tuyệt vọng.

		p Cho đến cách đây 1 năm khi một người bạn mới vào làm cùng công ty và biết được tình trạng của tôi thì đã giới thiệu cho tôi sử dùng 
			+link("sản phẩm SCurma Fizzy")
			|  - Viên sủi Nano Curcumin. Ban đầu, được giới thiệu sản phẩm, tôi cũng bán tín bán nghi, nhưng nghe nói về sản phẩm này:

		p - Sản phẩm tinh chất nghệ nano bào chế bởi TS. Nguyễn Phúc Nghĩa – nhiều năm nghiên cứu khoa học tại Đại học Strasbourg, Pháp nên tôi cũng yên tâm hơn.

		p: +image("images/img3.jpg")

		p - Nano Curcumin: Là một hoạt chất quý giá chứa trong nghệ mang lại rất nhiều lợi ích cho sức khỏe, với việc sử dụng công nghệ nano, Curcumin được chắt lọc kỹ càng nhất và được để dưới dạng phân tử nano tăng khả năng hấp thụ hoạt chất của cơ thể. 
			+link("lên đến 7500 lần")
			| . Nano Curcumin không chỉ có tác dụng với các căn bệnh dạ dày mà thành phần này còn phòng chống bệnh ung thư rất hiệu quả.

		p - Tinh chất nghệ nano dạng sủi tăng khả năng 
			+link("tấn công vào vùng viêm")
			|  tại dạ dày và tốc độ hấp thu vào máu nhanh nhất (chỉ chậm hơn tiêm).

		p - An toàn: Nguyên liệu là kết quả chuyển giao từ đề tài nghiên cứu của Viện Hàn Lâm Khoa Học Việt Nam và ĐHQG Hà Nội.

		p: +image("images/img4.png")

		p Nghe vậy tôi cũng yên tâm hơn. Tôi liền đặt mua dùng thử 5 hộp, khi sử dụng hết thì những triệu chứng đã không còn xuất hiện. Thấy sản phẩm hiệu quả, nên tôi đặt mua thêm 10 hộp về dùng xem có sự khác biệt hơn các cách tôi đã sử dụng không và cũng vì bệnh tình của tôi đã khá nặng nên tôi cần sử dụng trong thời gian dài hơn. Vậy mà sản phẩm hiệu quả lắm nhé! 1 năm trôi nhanh tôi không còn những triệu chứng như trên nữa nên cũng muốn đi xét nghiệm lại xem bệnh tình có đỡ hơn thật hay không. Khi nhận được kết quả thì kết quả là âm tính vi khuẩn HP, vui lắm mọi người ạ! Đúng là sản phẩm tốt, thật sự cảm ơn SCurma Fizzy- Viên sủi Nano Curcumin rất nhiều, vì giờ tôi có thể ăn ngon ngủ ngon, làm việc tốt đươc rồi .

		p Khi mà số lượng người mắc bệnh 
			+link("ung thư và dạ dày")
			|  đang gia tăng nhanh chóng như hiện nay thì một sản phẩm ưu việt như SCurma Fizzy- Viên sủi Nano Curcumin tôi nghĩ là sẽ giúp ích khá nhiều trong việc chăm sóc và bảo vệ sức khỏe sức khỏe của bạn và gia đình bạn đó.

		p: +image("images/img5.jpg")