include ./_mixins
section.section-content
	header.section-content-header
		+titleSection("ĐAU DẠ DÀY VÀ HÀNH TRÌNH 10 NĂM CHỮA TRỊ")
		p.text-caption Đăng ngày 19/03/2018, 7:51 | Tác giả: Yến Nguyễn
	.section-content-body
		p Đau dạ dày, căn bệnh dường như đã quá quen thuộc trong cuộc sống hiện nay. Tại nước ta, tỷ lệ người mắc bệnh đau dạ dày đang gia tăng một cách đáng báo động. Bất cứ ai, người lớn trẻ nhỏ, nam hay nữ, đều có nguy cơ mắc phải bệnh này.

		p Tôi là Minh Đức năm nay 40 tuổi, hiện đang ở quận Hai Bà Trưng, Hà Nội và đang là dân văn phòng. Bản thân tôi đã đánh vật với đau dạ dày 10 năm và đã trở thành mãn tính. Nào đâu cũng dùng đủ các loại thuốc từ Tây y, Đông y rồi còn chữa trị theo pháp đồ của bác sĩ tôi cũng đã làm nhưng nó không thể dứt điểm được căn bệnh quái ác đó. Công việc và cuộc sống của tôi đều bị ảnh hưởng và càng lúc càng tệ đi rất nhiều. Cuộc hành trình đi chữa bệnh đau dạ dày 10 năm thật sự là cả một quãng thời gian dài, vất vả và đau đớn.

		p: +image("images/img1.jpg")

		p 
			+link("Đau dạ dày")
			|  làm cuộc sống của tôi trở lên khó khăn hơn, người ta thích ăn gì thì ăn, còn tôi đồ, chua,cay nóng và nhiều dầu mỡ là khắc tinh của tôi. Nhiều lần liều mình để ăn thì ôi thôi đau cả đêm không ngủ được,chỉ có cách là uống thuốc tây. Tôi còn bị 
			+link("Trào ngược dạ dày")
			|  cảm giác lúc nào cũng như có cái gì đó đè vào ngực,nhất là buổi sáng đánh răng như muốn nôn hết lòng mề ra. Chưa kể tiền và thời gian đi lại khám chữa bệnh tôi đã bỏ ra quá nhiều nhưng sợ nhất là 
			+link("nội soi dạ dày")
			|  cảm giác này ai đã từng trải qua chắc nhớ cả đời. Tôi đã đi khám rất nhiều nơi từ bênh viện tỉnh đến trung ương mỗi nơi lại có phác đồ khác nhau nhưng rồi kết quả vẫn vậy.Khi dùng thì đỡ đau nhưng chỉ cần ngừng là lại đau và trào ngược, sau thời gian dài cứ cài vong luẩn quẩn đó tôi đã quyết định không đi chữa nữa. Nhưng đó chỉ là ý nghĩ nhất thời thôi chứ đau làm sao chịu được, tôi gầy đi từng ngày thấy vậy bố tôi đi mua ở đâu bột nghệ và mật ong cho tôi uống. Mới đầu uống thấy khá khó uống vì cái mùi của nó nhưng ông cụ cứ ép uống nên tôi cũng cứ ực cái cho xong, sau 1 tuần sử dụng cũng thấy đỡ đau hơn chút ít. Nên tôi tiếp tục uống thêm 1 tháng,sau đó đi nội soi lại xem sao thì nhận được kết quả khá tích cực vết loét đang có dấu hiệu lành lại. Niềm vui thực sự đối với tôi không ngờ nghệ lại có tác dụng như vậy,tôi bắt đầu lên mạng tìm hiểu và được biết chất có trong củ nghệ có tác dụng điều trị bệnh dạ dày tên là curcumin chỉ chiếm 2% trong củ nghệ vàng. 

		p: +image("images/img2.jpg", "Vi khuẩn HP")

		p Cho đến cách đây 1 năm khi một người bạn mới vào làm cùng công ty và biết được tình trạng của tôi thì đã giới thiệu cho tôi sử dùng 
			+link("sản phẩm SCurma Fizzy")
			|  - Viên sủi Nano Curcumin. Ban đầu, được giới thiệu sản phẩm, tôi cũng bán tín bán nghi, nhưng nghe nói về sản phẩm này:

		p - Sản phẩm tinh chất nghệ nano bào chế bởi TS. Nguyễn Phúc Nghĩa – nhiều năm nghiên cứu khoa học tại Đại học Strasbourg, Pháp nên tôi cũng yên tâm hơn. 

		p: +image("images/img3.jpg")

		p - Nano Curcumin: Là một hoạt chất quý giá chứa trong nghệ mang lại rất nhiều lợi ích cho sức khỏe, với việc sử dụng công nghệ nano, Curcumin được chắt lọc kỹ càng nhất và được để dưới dạng phân tử nano tăng khả năng hấp thụ hoạt chất của cơ thể 
			+link("lên đến 7500 lần")
			| . Nano Curcumin không chỉ có tác dụng với các căn bệnh dạ dày mà thành phần này còn phòng chống bệnh ung thư rất hiệu quả.

		p - Tinh chất nghệ nano dạng sủi tăng khả năng 
			+link("tấn công vào vùng viêm")
			|  tại dạ dày và tốc độ hấp thu vào máu nhanh nhất (chỉ chậm hơn tiêm).

		p - An toàn: Nguyên liệu là kết quả chuyển giao từ đề tài nghiên cứu của Viện Hàn Lâm Khoa Học Việt Nam và ĐHQG Hà Nội.

		p: +image("images/img4.png")

		p Nghe vậy tôi cũng yên tâm hơn. Tôi liền đặt mua dùng thử 5 hộp, khi sử dụng hết thì những triệu chứng đã không còn xuất hiện. Thấy sản phẩm hiệu quả, nên tôi đặt mua thêm 10 hộp về dùng xem có sự khác biệt hơn các cách tôi đã sử dụng không và cũng vì bệnh tình của tôi đã khá nặng nên tôi cần sử dụng trong thời gian dài hơn. Vậy mà sản phẩm hiệu quả lắm nhé! 1 năm trôi nhanh tôi không còn những triệu chứng như trên nữa nên cũng muốn đi xét nghiệm lại xem bệnh tình có đỡ hơn thật hay không. Khi nhận được kết quả thì kết quả là âm tính vi khuẩn HP, vui lắm mọi người ạ! Đúng là sản phẩm tốt, thật sự cảm ơn SCurma Fizzy- Viên sủi Nano Curcumin rất nhiều, vì giờ tôi có thể ăn ngon ngủ ngon, làm việc tốt đươc rồi.

		p Khi mà số lượng người mắc bệnh 
			+link("ung thư và dạ dày")
			|  đang gia tăng nhanh chóng như hiện nay thì một sản phẩm ưu việt như SCurma Fizzy- Viên sủi Nano Curcumin tôi nghĩ là sẽ giúp ích khá nhiều trong việc chăm sóc và bảo vệ sức khỏe sức khỏe của bạn và gia đình bạn đó.

		p: +image("images/img5.jpg")