include ./_mixins

section.section-news.mb-4
	header.section-news-header
		+titlePanel("BẢN TIN SỨC KHỎE")
	.section-news-body
		.row
			.col-sm-4
				+cardNewsLarge("images/news-1.jpg", "Ăn tỏi đen hàng ngày rất tốt cho tim mạch", "07/01/2018")
			.col-sm-4
				+cardNewsLarge("images/news-2.jpg", "Mách nhỏ cho người đang bị đau xương khớp", "08/01/2018")
			.col-sm-4
				+cardNewsLarge("images/news-3.jpg", "Ăn gì tốt cho sức khỏe hôm nay?", "07/01/2018")