include ./_mixins

section.section-news
	header.section-news-header
		+titlePanel("TIN CÙNG CHUYÊN MỤC")
	.section-news-body
		.row
			.col-sm-4
				+cardNews("images/news-4.jpg", "Loại thực phẩm ăn hàng ngày tốt cho sức khỏe")
			.col-sm-4
				+cardNews("images/news-5.jpg", "Bài thuốc Đông Y giúp ngăn ngừa các tác nhân của bệnh trĩ")
			.col-sm-4
				+cardNews("images/news-6.jpg", "Đau nhức xương khớp sẽ không còn hành hạ nếu làm theo cách này")
			.col-sm-4
				+cardNews("images/news-7.jpg", "Thay đổi thời tiết, những mẹo nhỏ cho người già")
			.col-sm-4
				+cardNews("images/news-8.jpg", "Thảo dược tốt cho sức khỏe đến từ Nhật Bản")
			.col-sm-4
				+cardNews("images/news-9.jpg", "Vì sao nhân sâm tốt cho sức khỏe?")