include ./_mixins

section.modal.section-register.modal-form-register
  .modal-dialog
    button.button-close
    .modal-content
      .modal-body
        .row
          .col-md-6
            img(src="images/img4.png" alt="scurma" width="200").d-none.d-md-block.mb-3
            center.mb-3.mb-md-0
              +titleSection("Miễn phí giao hàng")
          .col-md-6
            form.form-outline.form-register(id="form-register" name="formRegister" method="POST" enctype="multipart/form-data")
              .form-group
                label.form-label Họ và tên
                input.form-control(name="name" type="text" required id="form-name")
              .form-group
                label.form-label Số điện thoại
                input.form-control(name="phone" type="tel" required)
              .form-group
                label.form-label Đặt mua liệu trình:
                select.form-control(required name="package")
                  option(value="4 hộp") 3 tuần - 4 hộp
                  option(value="5 hộp") 1 tháng - 5 hộp
                  option(value="8 hộp") 2 tháng - 8 hộp
              .form-group
                label.form-label Địa chỉ
                input.form-control(name="address" type="text" required)
              button.button-submit(type="submit") Đặt hàng