// build:js js/main.min.js async
script(type='text/javascript', src='js/plugins/tiny-slider.min.js')
script(type='text/javascript', src='js/plugins/in-view.min.js')
script(type='text/javascript', async, src='js/main.js')
// endbuild