* {
  outline: none !important;
  box-sizing: border-box !important;

  &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: $font-size-percentage-default;
}

body {
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  font-family: $font-family;
  line-height: $line-height-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-bold;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

p {
  margin: 0 0 1rem 0;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
}

