/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$colors: () !default;
$colors: map-merge((
  dark-blue: #2d4059,
  yellow: #ffb400,
  light: #f6f6f6,
  red: #ea5455
), $colors);

$text-body: color(blue-dark);


/* Grids
 * Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$grid-gutter-width: 30px;
$grid-columns: 12;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-breakpoints: (
  xs: 0,
  xsm: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$enable-grid-classes: true !default;


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$fonts: (
  roboto: 'Roboto'
);
$font-type  : sans-serif;
$font-family: font(roboto);


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-percentage-default:  62.5%; // Reduce font size to 1rem = 10px
$font-size-default:             1.6rem; // ~16px


/* Line-height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$line-height-default:           1.5;
$line-height-condensed:         1.2;


/* Spacing
 * Use to make utilities spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 10)
), $spacers);


/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.19, 1, 0.22, 1);
$cubic2:                        cubic-bezier(.48, .48, .57, .57);
$cubic3:                        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4:                        cubic-bezier(0.4, 0, 0.2, 1);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:      150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:                 #212121 !default;
$yiq-text-light:                white !default;
