extends layout/_layout
block content
  include ./components/_header
  include ./components/_navigation
  main.pb-5
    .container
      .row
        .col-lg-8.py-5
          include ./components/_content
        .col-lg-4.py-5.d-none.d-lg-block
          include ./components/_aside
      .row
        .col
          include ./components/_options
      .row
        .col.py-5
          include ./components/_comment
      .row
        .col-lg-6
          include ./components/_news-healthy
        .col-lg-6
          include ./components/_news-same
  include ./components/_navigation-bottom
  include ./components/_footer
  include ./components/_register
